<div class="container login-view">
    <div class="col-md-6 col-md-push-3">
        <form role="form">
            <div class="panel panel-default">
                <div class="panel-heading">Sign-in</div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               id="login" placeholder="Login"
                               ng-required="true"
                               ng-model="login">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control"
                               id="password" placeholder="Password"
                               ng-required="true"
                               ng-model="password">
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" ng-click="connect()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
