.project
.classpath
.idea
.classpath/**
target/**
target-grunt/**
.settings/**
.idea/**
bin/**
.hg/**
.DS_Store
*.iml
*.log
/target
/.checkstyle
jrocket-api/bin/**
jrocket-api/.hg/**
jrocket-api/.DS_Store
jrocket-api/*.iml
jrocket-api/*.log
jrocket-api/target
jrocket-api/.checkstyle
jrocket-ui/dist
jrocket-ui/bower_components
jrocket-ui/node_modules
jrocket-ui/.tmp
jrocket-ui/.sass-cache
jrocket-ui/npm-debug.log
