<!-- Fixed navbar -->
<div id="header" class="jrocket">
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">JRocket sample application</a>
      </div>
      <div class="navbar-collapse collapse navbar-right">
        <button type="button" class="btn btn-primary navbar-btn" ng-click="openBookmarkWizard()">Add a bookmark</button>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="searchbar" role="search">
  <div class="container">
    <input type="text" class="form-control" id="filter" placeholder="Enter filter" ng-model="searchText">
  </div>
</div>
