<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  id="JavaWebStack" version="2.5">

  <display-name>JavaWebStack</display-name>

  <!-- HTTP-ACTIVITY : custom filter -->
  <filter>
    <filter-name>filter-httpactivity</filter-name>
    <filter-class>infra.monitoring.servletfilter.HttpActivityServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter-httpactivity</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- METRICS : ping, health-checks, metrics, thread-dumps JSON GET-resources -->
  <servlet>
    <servlet-name>monitoring-metrics</servlet-name>
    <servlet-class>com.codahale.metrics.servlets.AdminServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>monitoring-metrics</servlet-name>
    <url-pattern>/monitoring/metrics/*</url-pattern>
  </servlet-mapping>
  <!-- Required ContextListers -->
  <listener>
    <listener-class>infra.monitoring.metrics.MetricsServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>infra.monitoring.metrics.HealthCheckServletContextListener</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

</web-app>